<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ยง</title>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
  <%= javascript_include_tag 'jquery.hotkeys-0.7.9.min' %>
  <%= javascript_include_tag 'jquery.fixclick' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'modal' %>
  <%= javascript_include_tag 'selector' %>
  <%= javascript_include_tag 'datepicker' %>
  <%= javascript_include_tag 'notice' %>
  <%= javascript_include_tag 'editor' %>
  <%= javascript_include_tag 'drag_deleter' %>
  <%= javascript_include_tag 'helpers' %>
  <%= javascript_include_tag 'commands' %>
  <%= javascript_include_tag 'tags' %>
  <%= javascript_include_tag 'items' %>
  <%= javascript_include_tag 'data' %>
  <%= javascript_include_tag 'main' %>
  <%= stylesheet_link_tag 'jquery-ui-1.7.1.custom' %>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>

<script type="text/javascript">
var this_tag='<%= @tagname %>'
var all_tags=<%= @tags.to_json %>
var all_items=<%= @items.to_json %>
</script>

<div id='title'>
<span class="main"><%= @tagname %></span>
<span id='tag_filters'></span>
<input type='button' value='New Item' id='add_item_button'/>
<input type='button' value='New Tag' id='add_tag_button'/>
</div>

<div class='sub-title'>Items</div>
<div id='items'></div>

<div id='add_item' class='add_editor'>
<div class='sub-sub-title'>Add an item</div>
<textarea rows='20' name='add_item_text' id='add_item_text'></textarea>
</div>

<div class='sub-title'>Tags</div>
<div id='tags'></div>

<div id='add_tag' class='add_editor'>
<div class='sub-sub-title'>Add a tag</div>
<textarea rows='1' name='add_tag_text' id='add_tag_text'></textarea>
</div>

<div id='log'></div>

</body>
</html>
