<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="cache-control" content="no-cache,no-store">
  <title>ยง</title>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
  <%= javascript_include_tag 'jquery.fixclick' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'jqmu' %>
  <%= javascript_include_tag 'modal' %>
  <%= javascript_include_tag 'selector' %>
  <%= javascript_include_tag 'map' %>
  <%= javascript_include_tag 'datepicker' %>
  <%= javascript_include_tag 'notice' %>
  <%= javascript_include_tag 'editor' %>
  <%= javascript_include_tag 'drag_deleter' %>
  <%= javascript_include_tag 'calendar' %>
  <%= javascript_include_tag 'input_handling' %>
  <%= javascript_include_tag 'helpers' %>
  <%= javascript_include_tag 'commands' %>
  <%= javascript_include_tag 'tags' %>
  <%= javascript_include_tag 'items' %>
  <%= javascript_include_tag 'data' %>
  <%= javascript_include_tag 'main' %>
  <%= stylesheet_link_tag 'jquery-ui-1.7.1.custom' %>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>

<div id='title'>
<span class="main"><%= @tagname %></span>
<span id='tag_filters'></span>

<img src="/images/help.png" title='Help' class='button' id='help_button'/>
<img src="/images/redo.png" title='Redo' class='button' id='redo_button'/>
<img src="/images/undo.png" title='Undo' class='button' id='undo_button'/>
<img src="/images/new_tag.png" title='New Tag' class='button' id='add_tag_button'/>
<img src="/images/new_item.png" title='New Item' class='button' id='add_item_button'/>
</div>

<div id='left'>
<div id='items'></div>
</div>

<div id='right'>
<div id='tags'></div>
</div>

<div id='log'></div>

</body>
</html>
